{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "target": "esnext",
    "baseUrl": "./"
  },
  "module": {
    "type": "commonjs"
  },
  "isModule": true
}
